<div class="widget-box">
    <div class="widget-title">
        <span class="icon"><i class="icon-th"></i></span>
        <h5>用户列表</h5>
    </div>
    <div class="widget-content nopadding">
        <table class="table table-bordered data-table">
            <thead>
                <tr>
                    <th width="5%">序号</th>
                    <th width="12%" class="th-hover">用户名</th>
                    <th width="12%" class="th-hover">电子邮件</th>
                    <th width="10%">姓名</th>
                    <th width="7%">电话号码</th>
                    <th width="10%" class="th-hover">是否激活</th>
                    <th width="14%" class="th-hover">注册时间</th>
                    <th width="14%" class="th-hover">最后登陆时间</th>
                    <th width="16%">操作</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>