<?xml version="1.0" encoding="utf-8"?>
<XConfig>
  <!--链接名-->
  <ConnName>mssql</ConnName>
  <!--前缀-->
  <Prefix />
  <!--命名空间-->
  <NameSpace>Exp.Study.NewLifeDo.Entity</NameSpace>
  <!--模板名-->
  <TemplateName>[内置]实体数据</TemplateName>
  <!--输出目录-->
  <OutputPath>ConnName</OutputPath>
  <!--是否覆盖目标文件-->
  <Override>true</Override>
  <!--实体链接名-->
  <EntityConnName>MSSQL</EntityConnName>
  <!--实体基类-->
  <BaseClass>Entity</BaseClass>
  <!--生成泛型实体类-->
  <RenderGenEntity>false</RenderGenEntity>
  <!--是否需要修正。默认true，将根据配置删除前缀、自动化大小写和完善注释等-->
  <NeedFix>true</NeedFix>
  <!--自动去除前缀-->
  <AutoCutPrefix>true</AutoCutPrefix>
  <!--是否自动去除字段前面的表名-->
  <AutoCutTableName>false</AutoCutTableName>
  <!--自动纠正大小写-->
  <AutoFixWord>false</AutoFixWord>
  <!--使用中文文件名-->
  <UseCNFileName>false</UseCNFileName>
  <!--强制使用ID-->
  <UseID>false</UseID>
  <!--使用头部模版-->
  <UseHeadTemplate>false</UseHeadTemplate>
  <!--头部模版-->
  <HeadTemplate>/*
 * XCoder v&lt;#=Version#&gt;
 * 作者     alvin.liu #&gt;
 * 时间：&lt;#=DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")#&gt;
 * 版权：版权所有 (C) */
</HeadTemplate>
  <!--调试-->
  <Debug>false</Debug>
  <!--最后更新时间-->
  <LastUpdate>2014-04-17T22:07:34.4502438+08:00</LastUpdate>
  <!--数据字典-->
  <Items />
</XConfig>