<?xml version="1.0" encoding="utf-8"?>
<Config>
  <!--串口名-->
  <PortName>COM34</PortName>
  <!--波特率-->
  <BaudRate>115200</BaudRate>
  <!--数据位-->
  <DataBits>8</DataBits>
  <!--停止位 None/One/Two/OnePointFive-->
  <StopBits>One</StopBits>
  <!--奇偶校验 None/Odd/Even/Mark/Space-->
  <Parity>None</Parity>
  <!--编码 gb2312/us-ascii/utf-8-->
  <WebEncoding>utf-8</WebEncoding>
  <!--十六进制显示-->
  <HexShow>false</HexShow>
  <!--十六进制发送-->
  <HexSend>false</HexSend>
  <!--最后更新时间-->
  <LastUpdate>0001-01-01T00:00:00</LastUpdate>
</Config>