 @using ExpApp.Site.Models.Authen.Permission;
@using ExpApp.Web.Framework; 
@using ExpApp.Site.Common.Models;
@model ButtonModel


<h2>@Model.ModuleName</h2>

@Html.HiddenFor(t => t.ModuleId)

@Html.CheckBoxListFor(t => t.SelectedButtonList, DisplayDirection.Horizon, new { style = "display:inline-block;width:500px;margin:0 10px;" }, new { style = "display:inline-block;width:120px;" })
