<div class="widget-box">
    <div class="widget-title">
        <span class="icon"><i class="icon-th"></i></span>
        <h5>操作日志列表</h5>
    </div>
    <div class="widget-content nopadding">
        <table class="table table-bordered data-table">
            <thead>
                <tr>
                    <th width="5%">序号</th>
                    <th width="15%">操作时间</th>
                    <th width="12%">区域</th>
                    <th width="12%">控制器</th>
                    <th width="12%">动作</th>
                    <th width="15%">操作描述</th>
                    <th width="15%">IP地址</th>                  
                    <th width="12%">操作用户</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>