@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Msg</h2>
<script type="text/javascript">
    var data = {msg2:'1'};
    
    if (data.msg) {
        alert(data.msg);
    }

</script>
@Html.ActionLink("test", "Index", new { msg="123"})