@model Exp.Study.Mvc.Models.Test.MyClass
@{
    ViewBag.Title = "Index";
    decimal number = 1234;

}
<input type="button" value="Test" onclick="doTest();" />
<h2>@number.ToString("G")</h2>
<script type="text/javascript">
    function doTest() {
        var data = { "name": "123" };
        alert(JSON.stringify(data));
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            traditional: true,
            cache: false,
            url: '@Url.Action("Index","Home")',
            data: data,//JSON.stringify(data),
            success: function (result) {
               
                if (result.success) {
                    alert(result.len);
                } else {
                    alert('no');
                }

            }
        });


    }
</script>
