<div class="widget-box">
    <div class="widget-title">
        <span class="icon"><i class="icon-th"></i></span>
        <h5>权限列表</h5>
    </div>
    <div class="widget-content nopadding">
        <table class="table table-bordered data-table">
            <thead>
                <tr>
                    <th width="5%">序号</th>
                    <th width="18%">权限（按钮）名称</th>
                    <th width="15%">编码</th>
                    <th width="8%">图标</th>
                    <th width="8%">排序</th>
                    <th width="20%">描述</th>
                    <th width="10%">是否激活</th>                  
                    <th width="17%">操作</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>